@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --main-bg-color: #fffefe;
    --main-bg2-color: #f0f1f3;
    --main-ad-color: #6899b6;
    --main-ad2-color: #395262;
    --main-txt-color: #151c27;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-bg-color) ;
    margin: 0;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
    color: var(--main-txt-color);
}

nav{
    background-color: var(--main-bg2-color);
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
}

nav ol{
    margin: 0.5em;
    display: inline-block;
}

nav li{
    list-style: none;
    display: inline-block;
}

nav ol li:first-child{
    font-weight: 500;
    font-size: 1.2em;
}

nav ol.userOptions li{
    font-weight: 500;
    font-size: 0.9em!important;
    background-color: var(--main-bg-color);
    padding: 0.5em;
    border-radius: 5%;
}

nav a{
    color: var(--main-txt-color);
    text-decoration: none;
    margin:1em;
    font-size: 1em;
    -webkit-transition: 0.5s all;   
    -webkit-transition-delay: 0.5s; 
    -moz-transition: 0.5s all;   
    -moz-transition-delay: 0.5s; 
    -ms-transition: 0.5s all;   
    -ms-transition-delay: 0.5s; 
    -o-transition: 0.5s all;   
    -o-transition-delay: 0.5s; 
    transition: 0.5s all;   
    transition-delay: 0.5s; 
}

nav a:hover{
    color: var(--main-ad-color);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

nav a i{
    color: var(--main-txt-color);
}

.fa-brain{
    background: -webkit-linear-gradient(#98c7d7,#636363);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
}

header{
    background-color: var(--main-ad-color);
    margin: 0;
}

.mainHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
}

.mainHeader img{
    width: 40em;
    height: 40em;
}

.infoHeader a{
    width: 10em;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: 1em;
    display: block;
    border: 0.2em solid var(--main-bg-color);
    border-radius: 2em;
}

.infoHeader a:hover{
    color: var(--main-ad-color);
}

.infoHeader h1{
    font-size: 3.5em;
    color: var(--main-txt-color);
}

header svg{
    margin-bottom: -0.3em;
}


section.container {
    background-color: var(--main-bg2-color);
    padding: 6em 2em 6em;
    width: auto!important;
}

section.items{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;
}

section.container h2.mainTitle{
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 2em;
}

h2#roadMap span, h2#destacado span {
    border-bottom: 0.4em solid #6899b652;
}

section.roadMap, article.lastNews, section.subscriptions{
    width: 14em;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
}

section.container.contactForm, section.container.news{
    background-color: var(--main-bg-color);
}

article.lastNews{
    display: block;
    border: 0.1em solid var(--main-bg2-color);
    box-shadow: 0em 0em 1em rgb(0 0 0 / 7%);
}

article.lastNews img {
    width: 14em;
    height: 8em;
}

section.roadMap h2, article.lastNews h2, section.subscriptions h2{
    font-size: 1.2em;
    margin: 0 auto;
    margin-top: 1em;
}

article.lastNews header{
    background-color: transparent!important;
    margin: 0 auto;
}

section.roadMap p, article.lastNews p, section.subscriptions p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: var(--main-txt-color);
}

section.subscriptions p, article.lastNews p{
    text-align: justify;
}

p.mountSubscription{
    font-size: 1em!important;
    font-weight: bold;
    display: inline-block;
}

a.getSubscription{
    display: inline-block;
}

.fa-lightbulb, .fa-wifi, .fa-handshake, .fa-building-user, .fa-cart-shopping {
    width: 0.7em;
    height: 0.7em;
    background-color: var(--main-ad-color);
    font-size: 1em;
    color: var(--main-bg2-color);
    padding: 1em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

article.lastNews footer{
    background-color: transparent!important;
    padding: 0;
}

article.lastNews footer section.mainAuthor, article.lastNews footer section.mainDate{
    width: auto;
    height: auto;
    background: var(--main-bg2-color);
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
}

article.lastNews footer section.mainAuthor p, article.lastNews footer section.mainDate p{
    margin: 0 auto;
}

article.lastNews footer p{
    display: block!important;
}

section.mainDate {
    float: right;
}


section.dataForm{
    padding: 2em;
    border-radius: 2%;
}

.formField{
    margin: 1em;
}

.formField label{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

.formField input, .formField textarea {
    width: 24em;
    min-height: 2em;
    background-color: var(--main-bg2-color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: var(--main-txt-color);
    padding: 0.2em 0.6em;
    display: block;
    border: unset;
    outline-color: var(--main-bg2-color);
    border-bottom: 0.1em solid var(--main-ad2-color);
}

.formField textarea{
    width: 24em;
    height: 10em;
    font-size: 0.8em;
    overflow: hidden;
    resize: none;
}

.formField input[type="submit"] {
    width: 25.2em;
    background-color: var(--main-ad2-color);
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                rgb(84, 105, 212) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

section.container.contactForm section.items img{
    width: 40em;
}

footer{
    background-color: var(--main-ad-color);
    padding-top: 10em;
}

footer a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    margin: 1em;
    font-weight: bolder;
    color: #1a2932;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.contactar {
    padding: 20em;
}

footer svg{
    margin-bottom: -0.4em;;    
}
